<div class="hero">
  <img src="{{ section.settings.image | img_url: 'master' }}">
  <button type="button">
    {% comment %} icon-only control, no accessible name {% endcomment %}
    <svg viewBox="0 0 24 24"><path d="M0 0h24v24"/></svg>
  </button>
  <iframe src="https://www.youtube.com/embed/{{ section.settings.video_id }}"></iframe>
</div>
